.user-component__subtilte-point {
  color: tomato;
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--line-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}
